* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
img {
    width: 400px;
    height: auto;
}
body {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    background-color: pink;
}